###########################################
# ZCU102 Options
###########################################
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="xilinx_zynqmp_zcu102_revB"
BR2_PACKAGE_XILINX_BOOTLOADER_UBOOT_TARGET_DIR="board/xilinx/zynqmp/zynqmp-zcu102-revB"
BR2_TOOLCHAIN_EXTERNAL_PATH="/usr/local/gcc-linaro-6.3.1"
BR2_TARGET_ARM_TRUSTED_FIRMWARE_VERSION="xilinx-v2016.2"
BR2_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_REPO_VERSION="xilinx-v2016.2"
BR2_PACKAGE_XILINX_BOOTLOADER_BOOTGEN_PATH="/opt/Xilinx/SDK/2016.2/bin/bootgen"
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="http://insidelabs-git.mathworks.com/EmbeddedLinux/linux.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="http://insidelabs-git.mathworks.com/EmbeddedLinux/uboot.git"
BR2_TOOLCHAIN_EXTERNAL_PATH="/opt/linaro/aarch64-6.3.1-2017.02"
